body {
    height: 100%;
    width: 100%;
}

#title {
    background-image: url(src/44ae1dd31b5c5905488356f5f030d90f.jpg);
    color: white;
    text-align: center;
    height: 60px;
    font-family: "Nunito", sans-serif;
}


#logo {
    background-color: white;
    margin-top: 1px;
}    


img {
    height: 100px;
}


a{
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    color: #228b22;
    word-spacing: 25px;
    font-size: 20px;
   
}


nav{
    text-align: right;
    margin-right: 10px;
}


form{
  background-color:#f0e68c;
   border-radius: 5px;
   height: 300px;
   width: 600px;
   padding: 40px;
   margin: auto;
   max-width: 450px;
   margin-top: 10px;
   font-family: "Nunito", sans-serif;
}


input {
  width: 450px;
  height: 35px;
  font-size: 15px;
  border-radius: 15px;
  border-style:double;
  margin-bottom: 15px; 
}


input#submit{
    width: 50%;
    margin-top: 10px;
}


label{
    font-size: 20px;
}


#info{
    background-color: #daa520;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif; 
}

